# compiled output
/dist/
**/dist/
/build/
**/build/

# dependencies
/node_modules/
**/node_modules/

# Logs
/logs/
**/logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files
.env
.env.*

# OS
.DS_Store

# Tests
/coverage/
**/coverage/
/.nyc_output/
**/.nyc_output/

# IDEs and editors
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
nest-cli.json